$darkBlue: #0c396b;
$white: #fff;
$gray: #e5e5e5;

.main-container__right__calender{
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  background-color: $darkBlue;
  color: $white;
}

.react-datepicker__month-container {
  float: initial !important;
}
.react-datepicker {
  width: 100%;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header,
.react-datepicker__day-name
 {
  color: $white !important;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  width: 2.7rem !important;
}
}