$gray: #e5e5e5;
$white: #ffffff;
.header {
  background-color: $gray;
}
.navbar {
  display: block;
}

%navigation-display {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.header_title {
  margin-right: auto;
}

.header_profile {
  margin-left: auto;
}
.profile__detail {
  @extend %navigation-display;
  .profile__image {
    border-radius: 50%;
    height: 41px;
    width: 41px;
  }
  li {
    padding: 10px;
  }
}
.profile__operation {
  width: 75%;
  margin-left: auto;

  &__list {
    border-radius: 5px;
    background-color: $white;
  }
  &__item {
    border: 1px solid $gray;
    padding: 12px 15px;
    &--icon {
      padding: 10px;
    }
  }
}
