$sidenav: #135db0;
$white: #fff;
$hover: #B2D2F773;

.sidenav {
  background-color: $sidenav;
  padding: 12px 15px;
  height: 100%;
  &__title {
    width: 100%;
    text-align: center;
    color: $white;
  }
  &__list {
    padding: 30px 15px;
   margin: auto;
    &__item {
      padding: 30px;
      a {
        color: $white;
      }
      &--icon{
          padding: 18px;
      }
    }
    &__item:hover{
        background-color: $hover;
    }
  }
}
