$sidenav: #135db0;
$white: #fff;
$hover: #b2d2f773;
$darkBlue: #0c396b;

.sidenav {
  max-height: 100vh;
  background-color: $sidenav;
  // padding: 12px 15px;
  height: 100%;
  &__title {
    width: 100%;
    text-align: center;
    color: $white;
    padding: 30px 80px;
  }
  &__list {
    max-height: calc(100vh - 80.8px);
    overflow: auto;
    margin: auto;
    &__item {
      padding: 30px;
      a {
        color: $white;
      }
      &--icon {
        padding: 0px 26px;
      }
      .dashboard-icon {
        background: url("../../templates/sidebar/dashboard-white.png")
          no-repeat center;
      }
      .leave-request-icon {
        background: url("../../templates/sidebar/leave-request-white.png")
          no-repeat center;
      }
      .leave-details-icon {
        background: url("../../templates/sidebar/leave-details-white.png")
          no-repeat center;
      }
      .leave-summary-icon {
        background: url("../../templates/sidebar/leave-summary-white.png")
          no-repeat center;
      }
    }
    &__item:hover {
      background-color: $hover;
      border-right: 12px solid $darkBlue;
      a {
        color: $darkBlue;
        text-decoration: none;
      }
      .dashboard-icon {
        background: url("../../templates/sidebar/dashboard-dark.png")
          no-repeat center;
      }
      .leave-request-icon {
        background: url("../../templates/sidebar/leave-request-dark.png")
          no-repeat center;
      }
      .leave-details-icon {
        background: url("../../templates/sidebar/leave-details-dark.png")
          no-repeat center;
      }
      .leave-summary-icon {
        background: url("../../templates/sidebar/leave-summary-dark.png")
          no-repeat center;
      }
    }
  }
}
