body {
    background-color: #E5E5E5;
    font-family: Roboto;
}

.leaveDetail {
    border-radius: 5px;
    width:1006px;
    padding-top: 28px;
    background-color: #FFFFFF;

    &__header {
        color:#8B849A;
        margin-left:17px ;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;

        &--line{
            margin-top: 5px;
            height: 1px;
            background-color:#DFDDDD;
            margin-bottom:21px ;
        }
    }

 
}

@media (max-width:768px){
    .wrapper{
        display: block;
    }
}

