.top_page {
  position: absolute;
  border-radius: 5px;
  font-family: Roboto;
}
.font_body {
  color: #8b849a;
  font-family: Roboto;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.496657px;
}

.body {
  width: 1006px;
  height: 579px;
  left: 310px;
  top: 94px;
}

.inner_title {
  height: 28px;
  width: 100%;
  top: 25px;
  text-align: left;
  padding-left: 15px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

table {
  position: absolute;
  width: 950px;
  left: 30px;
  top: 70px;
}

thead {
  font-weight: 700;
}

td,
th {
  height: 31px;
  text-align: left;
  line-height: 48px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background: #ddd;
}
.btn_props {
  background: #e5eaf1;
  color: #404245;
  position: absolute;
  width: 40px;
  height: 35px;
  top: 520px;
}
.previous {
  left: 400px;
}
.next {
  left: 603px;
}
.round {
  border-radius: 50%;
}
.prev_num {
  left: 450px;
}
.next_num {
  left: 550px;
}
.curved_side {
  border-radius: 10px;
}
.txt {
  color: #404245;
  position: absolute;
  top: 530px;
  left: 515px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.down_arr {
  border: none;
  position: absolute;
  left: 1280px;
  top: 32px;
}
.down_arr:hover {
  cursor: pointer;
}
